exportPattern("^[[:alpha:]]+")
importFrom(jsonlite, fromJSON)
importFrom(curl, curl_escape)
importFrom(httr, GET, stop_for_status, content)
S3method(print, fedreg_document)
S3method(print, fedreg_agency)
